:root{
  --dark-color: #191f1d;
  --mid-dark: #555a57;
  --light-color: #ece0c8;
  --mid-light: #949993;
  --shadow: #0005;
  --linear-rainbow: linear-gradient(
    to right,#ede6bf,#ecc947,#cb5a31,#6f5d79,#4e779a
  );
  --circle-rainbow: radial-gradient(
    circle at left top,#ede6bf,#ecc947,#cb5a31,#6f5d79,#4e779a
  );
  --noise-texture: url(https://i.gyazo.com/a26366e538851a5c569ff648e99b7fd4.png);
  --gif-texture: url(https://64.media.tumblr.com/da60c13b478dda09ab90c27e880983b8/tumblr_nd4pwdPKdc1tun3l0o1_1280.gifv);
}

html, body, .fondo {
  overflow-x: hidden;
  box-sizing: border-box;
  min-height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@keyframes spawn {
    0% {
      box-shadow: 0 0 0 var(--shadow);
      opacity: 0;
    }
    100% {
      box-shadow: 0 0 32px var(--shadow);
      opacity: 1;
    }
  }

  @keyframes myAnimation {
    0%{
      background-color: #000000;
    }
    25%{
      
    }

    50%{
      background-color: #000000;
    }

    100%{

    }
}

body, .contenido {
    animation-name: "myAnimation";
    animation-duration: 8s;
}

body::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: var(--noise-texture);
    background-repeat: repeat;
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: 1;
  }
  
body::after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: var(--gif-texture);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    mix-blend-mode: screen;
    opacity: 0.5;   
    pointer-events: none;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  /* Importar fuentes  */
@font-face {
    font-family: 'Easvhs';
    src: url('../fonts/easvhs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Slender';
    src: url('../fonts/Slender.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-size: 5rem;
    color: white;
    text-align: center;
    padding: 1rem;
    margin: 0;
    font-family:  Slender;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    text-decoration: none;
}

.title {
  margin: 0;
  font-weight: 1000;
  font-size: 2.5rem;
  color: var(--light-color);
}

body {
    font-family: 'Easvhs', sans-serif;
    background-color: #000000;
    /* background-image: var(--noise-texture), var(--gif-texture), url('../Img/Fondo.jpeg'); */
    background-size: auto, cover, cover;
    background-position: center, center, center;
    background-repeat: repeat, no-repeat, no-repeat;
    background-blend-mode: overlay, screen, normal;
    min-height: 100vh;
    overflow-x: hidden;
  }

.contenido{
    animation: spawn 2s ease-in-out forwards;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-areas: "header1 header2 header3"
                                                          "sidebar  main       main"
                                                          ". footer footer ";
    font-family: 'Slender';
    color: #000000;;
}

.barraSuperior{
    grid-area: header2;
    margin: 5px;
    gap: 5px;
    align-self: center;
    justify-self: center;
}

.texto{
    grid-column: 2;
    grid-row: 2;
    margin: 10px;
    gap: 10px;
    border-style: double;
    text-align: center;
    line-height: 0.7cm;
    grid-area: main;
    color: rgb(255, 255, 255);
    align-self: center;
    justify-self: center;
}

.text{
    color: rgb(54, 117, 12);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}

.imagen{
    grid-column: 1 ;
    grid-row: 2;
    margin: 5px;
    gap: 5px;
}

.imagen-exacta{
    max-width: 400px;
    opacity: 1;
}

.imgR{
    max-width: 50px;
    border-color: red;
    border-style: solid;
    border-radius: 100px;
    grid-area: header1s;
    position: relative;
}

.footer{
    position: relative;
    width: 100%;
    background: black;
    max-height: 160px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.icon-elem{
    list-style: none;
}

.icon{
    color: white;
    font-size: 32px;
    display: inline-block;
    margin:0 10px;
    transition: 0.5s;
}

.icon:hover{
    transform: translateY(-10px);
}

.menu{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu{
    list-style: none;
}

.menu-icon{
    color: rgb(189, 46, 46);
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.75;
    transition: 0.3s;
}

.menu-icon:hover{
opacity: 1;
}
