@font-face {
    font-family: 'Easvhs';
    src: url('../fonts/easvhs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Slender';
    src: url('../fonts/Slender.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-size: 5rem;
    color: white;
    text-align: center;
    padding: 1rem;
    margin: 0;
    font-family:  Slender;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    text-decoration: none;
}

.title {
  margin: 0;
  font-weight: 1000;
  font-size: 2.5rem;
  color: var(--light-color);
}

body {
    font-family: 'Easvhs', sans-serif;
    background-color: var(--dark-color);
    background-image: var(--noise-texture), var(--gif-texture), url('../Img/Fondo.jpeg');
    background-size: auto, cover, cover;
    background-position: center, center, center;
    background-repeat: repeat, no-repeat, no-repeat;
    background-blend-mode: overlay, screen, normal;
    min-height: 100vh;
    overflow-x: hidden;
  }

.fondo{
    animation: spawn 2s ease-in-out forwards;
}
:root {
  --dark-color: #191f1d;
  --mid-dark: #555a57;
  --light-color: #ece0c8;
  --mid-light: #949993;
  --shadow: #0005;
  --linear-rainbow: linear-gradient(
    to right,#ede6bf,#ecc947,#cb5a31,#6f5d79,#4e779a
  );
  --circle-rainbow: radial-gradient(
    circle at left top,#ede6bf,#ecc947,#cb5a31,#6f5d79,#4e779a
  );
  --noise-texture: url(https://i.gyazo.com/a26366e538851a5c569ff648e99b7fd4.png);
  --gif-texture: url(https://64.media.tumblr.com/da60c13b478dda09ab90c27e880983b8/tumblr_nd4pwdPKdc1tun3l0o1_1280.gifv);
}

html, body {
  overflow-x: hidden;
  box-sizing: border-box;
  min-height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@keyframes spawn {
    0% {
      box-shadow: 0 0 0 var(--shadow);
      opacity: 0;
    }
    100% {
      box-shadow: 0 0 32px var(--shadow);
      opacity: 1;
    }
  }

body::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: var(--noise-texture);
    background-repeat: repeat;
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: 1;
  }
  
  body::after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: var(--gif-texture);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    mix-blend-mode: screen;
    opacity: 0.5;   
    pointer-events: none;
    z-index: 0;
  }



